<mat-card class="info-card orange-card">
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayoutAlign="space-between center" style="margin: 1vw;">
                <div fxLayout="row">
                    <div  fxLayoutAlign="center center">
                        <i *ngIf="iconSbi" class="sbi" [title]="title" [class]="chartStyleMap[chartStyle].coinCss + ' ' + iconSbi"></i>
                        <i *ngIf="!iconSbi" class="circle-icon" [title]="title" [style]="'background:' +  chartStyle ">{{icon}}</i>
                    </div>
                    <div >
                        <h2>{{title}}</h2>
                        <h3>{{subTitle}}</h3>
                    </div>
                </div>
                <div  class="text-right">
                    <h2>${{price!.toFixed(2)}}</h2>
                    <h3>{{ pchChange!.toFixed(2) }}% <span [class]="'material-icons indicator' + (pchChange > 0 ? 'Green' : 'Red')">{{ pchChange > 0 ? 'north' : 'south'}}</span></h3>
                </div>
            </div>
            <div style="display: block;">
                <canvas #chartCanvas ></canvas>
                <!-- TODO -->
                <!-- <canvas #chartCanvas baseChart height="75" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
                </canvas> -->
            </div>
        </div>

    </mat-card-content>
</mat-card>