.info-card {
    /* height: 10vh; */
    padding: 0px;
    width: 25vw;
    margin: 1vh;
    margin-bottom: 1.875rem;
    border: none;
    box-shadow: 0 2px 18px 1px rgba(49,53,72,.1);
    border-radius: .45rem;
  }

.info-card:hover{
    /* border: 8px solid black;
    background-color: green; */
    box-shadow: 0 8px 25px 6px rgba(49,53,72,.1);
 }
 
.sbi { font-size: 4vw; cursor: pointer; margin-right: 1vw;}
.sbi:hover::before { color: black; }

.cc-blue:before {
  color: #1e9ff2;
} 

.cc-gray:before {
  color: #78909C;
} 


.text-right {
  text-align: right!important;
}
.indicatorGreen{
 color: green; 
 font-size: 1vw;
}

.indicatorRed{
  color: red; 
  font-size: 1vw;
 }

 .circle-icon {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    text-align: center;
    line-height: 2vw;
    vertical-align: middle;
    padding: 1vw;
    font-size: 1.5vw;
    font-style: normal;
}