<mat-card class="info-card">
    <mat-card-content>
        <div class="asset-content">
            <div class="asset-header">
                <div class="asset-info">
                    <div class="asset-icon">
                        <i *ngIf="iconSbi" 
                           class="sbi" 
                           [title]="title" 
                           [class]="chartStyleMap[chartStyle].coinCss + ' ' + iconSbi">
                        </i>
                        <i *ngIf="!iconSbi" 
                           class="circle-icon" 
                           [title]="title" 
                           [style.background]="chartStyle">
                            {{icon}}
                        </i>
                    </div>
                    <div class="asset-details">
                        <h2 class="asset-title">{{title}}</h2>
                        <h3 class="asset-subtitle">{{subTitle}}</h3>
                    </div>
                </div>
                <div class="asset-metrics">
                    <h2 class="asset-price">${{price!.toFixed(0)}}</h2>
                    <h3 class="asset-change">
                        {{ pchChange!.toFixed(2) }}%
                        <span class="material-icons" 
                              [class]="'indicator' + (pchChange > 0 ? 'Green' : 'Red')">
                            {{ pchChange > 0 ? 'north' : 'south'}}
                        </span>
                    </h3>
                </div>
            </div>
            <div class="chart-container">
                <canvas #chartCanvas 
                        baseChart 
                        height="75"
                        [datasets]="lineChartData" 
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions" 
                        [legend]="false"
                        [type]="'line'">
                </canvas>
            </div>
        </div>
    </mat-card-content>
</mat-card>