<mat-card class="info-card orange-card">
    <mat-card-content>
        <div fxLayout="column">
            <div class="content">
                <div fxFlex="5"></div>
                <div fxFlex="15" fxLayoutAlign="center center">
                    <i class="sbi" [title]="title" [class]="chartStyleMap[chartStyle].coinCss + ' ' + icon"></i>
                </div>
                <div fxFlex="15">
                    <h2>{{title}}</h2>
                    <h3>{{subTitle}}</h3>
                </div>
                <div fxFlex="60" class="text-right">
                    <h2>$9,980</h2>
                    <h3>31% <span class="material-icons indicator">north</span></h3>
                </div>
            </div>
            <div style="display: block;">
                <canvas #chartCanvas baseChart height="75" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType">
                </canvas>
            </div>
        </div>

    </mat-card-content>
</mat-card>