<div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <app-asset-tab chartStyle='orange' title='BTC' subTitle='Bitcoin' icon='sbi-btc'></app-asset-tab>
    <app-asset-tab chartStyle='gray' title='ETH' subTitle='Etherium' icon='sbi-eth'></app-asset-tab>
    <app-asset-tab chartStyle='blue' title='XRP' subTitle='Ripple' icon='sbi-xrp'></app-asset-tab>
</div>
<div>
    <div fxFlex="33">
        <div class="asset-tab">
            BTC
        </div>
        <mat-grid-list cols="2" rowHeight="6:1" class="asset-container">
            <mat-grid-tile>
                <div class="text-inside-grid">Annulized Return</div>
            </mat-grid-tile>
            <mat-grid-tile>8%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Annulized Volatility</div>
            </mat-grid-tile>
            <mat-grid-tile>8%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Active Return</div>
            </mat-grid-tile>
            <mat-grid-tile>18%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Active Volatility</div>
            </mat-grid-tile>
            <mat-grid-tile>28%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Sharp Ratio</div>
            </mat-grid-tile>
            <mat-grid-tile>28%</mat-grid-tile>
        </mat-grid-list>
    </div>
    <div fxFlex="1"></div>
    <div style="background-color: white;height: 50vh;" fxFlex="65">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>
</div>


<div class="container main-div">
    <div fxLayout="column" fxFlex="15">
        <div style="background-color: aqua;">
            BTC
        </div>
    </div>

    <mat-card fxFlex="600px">
        <mat-card-header>
            <mat-icon mat-card-avatar>account_balance</mat-icon>
            <mat-card-title>Coin Balances</mat-card-title>
            <mat-card-subtitle>Current position on the exchange</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>