<div class="asset-container">
    <h1>ETF Active Analytics Dashboard</h1>
    
    <div class="flex-align" *ngIf="marketType && CONFIG[marketType]?.t">
        <app-asset-tab chartStyle='orange' [title]='CONFIG[marketType].t[0].title' [ticker]='CONFIG[marketType].t[0].ticker' [subTitle]='CONFIG[marketType].t[0].subTitle' [icon]='CONFIG[marketType].t[0].icon'></app-asset-tab>
        <app-asset-tab chartStyle='gray' [title]='CONFIG[marketType].t[1].title' [ticker]='CONFIG[marketType].t[1].ticker' [subTitle]='CONFIG[marketType].t[1].subTitle' [icon]='CONFIG[marketType].t[1].icon'></app-asset-tab>
        <app-asset-tab chartStyle='blue' [title]='CONFIG[marketType].t[2].title' [ticker]='CONFIG[marketType].t[2].ticker' [subTitle]='CONFIG[marketType].t[2].subTitle' [icon]='CONFIG[marketType].t[2].icon' ></app-asset-tab>
    </div>
<div class="flex-align" style="flex-direction: row;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="info-signal">
        <div style="display: flex; flex-direction: row;" >
            <div>
                <div>Last Closing Price</div>
                <div class="current-signal" style="color: darkgrey; text-align: center;">{{allData?.last_price.toFixed(1)}}</div>
            </div>
            <div style="width: 2vw;"></div>
            <div>
                <div>Last Signal Value</div>
                <div class="current-signal">{{allData?.last_signal.toFixed(2)}}</div>
            </div>
        </div>
        <span class="current-signal-date" style="color: black;">{{allData.last_signal_flag}} market, 
            {{allData.last_timestamp * 1000 | date:"dd/MM/yyyy":"+0000" }}</span>
        <span class="current-signal-date">Market is normal when the signal is around 0. 
            if the maket is greater then 1 or more then it is strongly overbought. 
            if the maket is greater then -1 or less then it is strongly oversold. </span>
    </div>
    <div class="info-signal" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <span>Asset-Cash Ratio</span>
        <span class="current-signal">{{(100 * allData?.last_signal_ratio).toFixed(0)}}%</span>
        <span class="current-signal-date">Asset-Cash Ratio shows much of the asset should be increased or decreased. 
            When the signal is 0, then the ratio is 100%.
            E.g. 80% means the market is oversold and it better to sell 20% of the asset. If the ratio is 120% the market is oversold and 20% of the asset should be borrowed. </span>
    </div>
</div>
<div class="chart-container">
    <div class="chart-wrapper">
        <highcharts-chart *ngIf="chartOptions" [Highcharts]="Highcharts" [options]="chartOptions"
            [constructorType]="'stockChart'" style="width: 100%; height: 600px; display: block;"
            [(update)]="updateFlag"></highcharts-chart>
        <h3 class="chart-note">move range slidebar to see active price gain per slidebar's period</h3>
    </div>
</div>
<div class="tables-container">
    <div>
        <div class="asset-tab">
            {{ticker}} Best Price Max Signal History
        </div>
        <table class="table-tab">
            <th>Date</th>
            <th>Signal</th>
            <th>Price</th>
            <th colspan="1">Next 6 month Max</th>
            <th colspan="1">Next 6 month Min</th>
            <tr *ngFor="let it of signalMaxTable;let index = index" [ngClass]="{'highlight': 0 === index % 2}">
                <td>{{it.date}}</td>
                <td>{{it.signal | number : '1.2-2' }}</td>
                <td>{{it.price | number : '1.2-2' }}</td>
                <td>
                    {{it.max_return_pct | number : '1.2-2' }}
                    <span *ngIf="it.max_return_pct">%</span>
                    <span class="material-icons idicator_up" *ngIf="it.max_return_pct  > 0">north</span>
                    <span class="material-icons idicator_down" *ngIf="it.max_return_pct  < 0">south</span>
                </td>
                <td>{{it.min_return_pct | number : '1.2-2' }}
                    <span *ngIf="it.min_return_pct">%</span>
                    <span class="material-icons idicator_up" *ngIf="it.min_return_pct  > 0">north</span>
                    <span class="material-icons idicator_down" *ngIf="it.min_return_pct  < 0">south</span>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <div class="asset-tab">
            {{ticker}} Best Price Min Signal History
        </div>
        <table class="table-tab">
            <th>Date</th>
            <th>Signal</th>
            <th>Price</th>
            <th colspan="1">Next 6 month Max</th>
            <th colspan="1">Next 6 month Min</th>
            <tr *ngFor="let it of signalMinTable;let index = index" [ngClass]="{'highlight': 0 === index % 2}">
                <td>{{it.date}}</td>
                <td>{{it.signal | number : '1.2-2' }}</td>
                <td>{{it.price | number : '1.2-2' }}</td>
                <td>
                    {{it.max_return_pct | number : '1.2-2' }}
                    <span *ngIf="it.max_return_pct">%</span>
                    <span class="material-icons idicator_up" *ngIf="it.max_return_pct  > 0">north</span>
                    <span class="material-icons idicator_down" *ngIf="it.max_return_pct  < 0">south</span>
                </td>
                <td>{{it.min_return_pct | number : '1.2-2' }}
                    <span *ngIf="it.min_return_pct">%</span>
                    <span class="material-icons idicator_up" *ngIf="it.min_return_pct  > 0">north</span>
                    <span class="material-icons idicator_down" *ngIf="it.min_return_pct  < 0">south</span>
                </td>
            </tr>
        </table>

    </div>
    <div  >
        <div class="asset-tab" style="min-width: 250px;">
            {{ticker}} Best Price Stats History
        </div>
        <mat-grid-list cols="2" rowHeight="6:1" class="asset-container">
            <mat-grid-tile>
                <div class="text-inside-grid">Annulized Return</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (100*allData.avg_return_pct).toFixed(1) }}%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Volatility</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (100*allData.avg_return_vol).toFixed(1) }}%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Active Return</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (100*allData.avg_active_return_pct).toFixed(1) }}%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Active Volatility</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (100*allData.avg_active_return_vol).toFixed(1) }}%</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Sharp Ratio</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (allData.avg_return_sharp).toFixed(2) }}</mat-grid-tile>
            <mat-grid-tile>
                <div class="text-inside-grid">Active Sharp Ratio</div>
            </mat-grid-tile>
            <mat-grid-tile>{{ (allData.avg_active_return_sharp).toFixed(2) }}</mat-grid-tile>
        </mat-grid-list>
    </div>  
</div>

  
