<mat-dialog-content>
    <mat-card fxFlex="400px" >
        <mat-card-header>
            <mat-icon mat-card-avatar>account_circle</mat-icon>
            <mat-card-title>Password Change</mat-card-title>
        </mat-card-header>

        <form [formGroup]="passwordForm" (ngSubmit)="onFormSubmit()">
            <mat-card-content>
            <div fxLayout="column">
                <mat-form-field >
                    <input type="password" matInput formControlName="oldPassword" placeholder="old password">
                    <mat-error *ngIf="submitted && fval.oldPassword.errors">pasword required</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input type="password" matInput formControlName="newPassword1" placeholder="new password">
                    <mat-error *ngIf="submitted && fval.newPassword1.errors?.required">pasword required</mat-error>
                </mat-form-field>
                <mat-form-field >
                    <input type="password" matInput formControlName="newPassword2" placeholder="confirm">
                    <mat-error *ngIf="submitted && fval.newPassword2.errors?.required">pasword required</mat-error>
                    <mat-error *ngIf="submitted && fval.newPassword2.errors?.notMatch">pasword has to match</mat-error>
                </mat-form-field>
            </div>
            </mat-card-content>
            
            <mat-error *ngIf="pwdError">Old password is incorrect</mat-error>
        </form>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button  [mat-dialog-close]="true" color="accent" class="btn-block" *ngIf="!loading">Submit</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>    