.btn-glow-blue {
    box-shadow: 0 1px 20px 1px rgba(30,159,242,.6);
    background-color: rgba(30,159,242,.6);
    color: white;
    padding: 6px;
  }
  .asset-tile {
    display: inline-block;
  }
  .assetTitle {
    font-size: 40px;    
    color: blue;
    font-weight: bold;
  }
  .assetHint {
    font-size: 15px;    
    color: white;
    text-align: center;
  }
  .assetNumber {
    font-size: 25px;    
    color: black;
  }
  .signal {
    color: white;
    font-weight: bold; 
    font-size: 40px;
    padding: 10px;
    margin: 2px;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
}