<div class="asset-tile">
    <div class="asset-content">
        <div class="asset-header">
            <div class="asset-ticker">{{item.ticker}}</div>
            <div class="asset-signal" [style.background-color]="assetColor">
                <a [routerLink]="['/dashboard']" 
                   [queryParams]="{t: item.fullTicker, type: type}">
                    {{item.last_signal | number:'1.2-2'}}
                </a>
            </div>
        </div>
        
        <div class="asset-details">
            <div class="price-section">
                <div class="price-value">{{item.last_price | number:'1.1-1'}}</div>
                <div class="price-label">price</div>
            </div>
            
            <div class="asset-info">
                <a [routerLink]="['/dashboard']" 
                   [queryParams]="{t: item.fullTicker, type: type}">
                    {{resolve(item.fullTicker)}}
                </a>
            </div>
        </div>
    </div>
    <!-- <div fxLayout="row"  fxLayoutAlign="space-between center" style="color: lightslategray; font-size: 12px; line-height: .5;">
         <div>all max: {{item.max_prob?.all?.mean?.toFixed(1)}}% shrp:{{item.max_prob?.all?.sharp?.toFixed(1)}}</div>
         <div>now max:{{item.max_prob?.recent?.mean?.toFixed(1)}}% shrp:{{item.max_prob?.recent?.sharp?.toFixed(1)}}</div>
    </div>
    <div fxLayout="row"  fxLayoutAlign="space-between center" style="color: lightslategray;font-size: 12px;">
        <div>all min: {{item.min_prob?.all?.mean?.toFixed(1)}}% {{item.min_prob?.all?.sharp?.toFixed(1)}}</div>
        <div>now min:{{item.min_prob?.recent?.mean?.toFixed(1)}}% {{item.min_prob?.recent?.sharp?.toFixed(1)}}</div>
   </div> -->
</div>