.cyan {
    background-color: #00bcd4!important;
}
.is-active {
    background-color: whitesmoke;
    color: black;
}
.main-toolbar{
    background-color: white;
}
.sbi { font-size: 35px; cursor: pointer; margin-right: 1vw; color: unset!important;}
.sbi:hover::before { color: black; }
.example-sidenav {
    background-color: #2c343b;
}
.etf-items {
    color: #dcdcdc;
    font-family: Quicksand,Georgia,"Times New Roman",Times,serif;
    font-size: 20px;
}
.parent {
    margin: 1vh;   
}
