<!-- <div class="container cyan"> -->
<mat-toolbar class="main-toolbar">
    <div class="toolbar-top">
        <a class="brand" routerLink="/">
            <h1>ETF Active Analytics</h1>
        </a>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button matTooltip="My Profile" style="color: white;">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Settings" style="color: white;">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
        <a mat-tab-link
           [routerLink]="'/market'"
           [queryParams]="{type:'etf'}"
           routerLinkActive
           #rla1="routerLinkActive"
           [active]="rla1.isActive"
           [routerLinkActiveOptions]="{exact: true}">
           <span class="sbi sbi-ebst"></span>
           <span class="tab-label">ETF</span>
        </a>
        <a mat-tab-link
           [routerLink]="'/market'"
           [queryParams]="{type:'world'}"
           routerLinkActive
           #rla2="routerLinkActive"
           [active]="rla2.isActive"
           [routerLinkActiveOptions]="{exact: true}">
           <span class="sbi sbi-wicc"></span>
           <span class="tab-label">World ETF</span>
        </a>
        <a mat-tab-link
           [routerLink]="'/market'"
           [queryParams]="{type:'sector'}"
           routerLinkActive
           #rla3="routerLinkActive"
           [active]="rla3.isActive"
           [routerLinkActiveOptions]="{exact: true}">
           <span class="sbi sbi-sol"></span>
           <span class="tab-label">Sector ETF</span>
        </a>
        <a mat-tab-link
           [routerLink]="'/market'"
           [queryParams]="{type:'forex'}"
           routerLinkActive
           #rla4="routerLinkActive"
           [active]="rla4.isActive"
           [routerLinkActiveOptions]="{exact: true}">
           <span class="sbi sbi-eur"></span>
           <span class="tab-label">Forex</span>
        </a>
        <a mat-tab-link
           [routerLink]="'/market'"
           [queryParams]="{type:'crypto'}"
           routerLinkActive
           #rla5="routerLinkActive"
           [active]="rla5.isActive"
           [routerLinkActiveOptions]="{exact: true}">
           <span class="sbi sbi-btc"></span>
           <span class="tab-label">Crypto</span>
        </a>
    </nav>
</mat-toolbar>

<div class="content-container">
    <mat-tab-nav-panel #tabPanel>
        <router-outlet></router-outlet>
    </mat-tab-nav-panel>
    <footer style="padding: 1vw;">
        <p>&copy; <a href="http://artifirm.com"> Artifirm Analytics 2025</a></p>
        <p style="line-height:10px; font-size: 10px; color: darkgray;">Disclaimers<br>
          All data presented on the website is analytics based on the previous history only. 
          Nothing contained in or on this Site should be construed as a solicitation of an offer to 
          buy or offer, or a recommendation, to acquire or dispose of any security, commodity, 
          cryptocoin, investment or to engage in any other transaction. 
          Any information on these pages is not intended to be an investment advice.
          Trading including ETFs involve numerous risks, including, among others, market risk,
          counterparty default risk and liquidity risk. 
          Past performance of strategies described on these page is not necessarily a guide
          to future performance.
          Neither information nor any opinion expressed on this page constitutes an
          offer or an invitation to make an offer, to buy or sell any securities or other
          financial instrument or any derivative related to such securities or instruments.
          Thesr pages are not intended to provide personal investment advice and it does not
          take into account the specific investment objectives, financial situation and the
          particular needs of, and is not directed to, any specific person(s).
          Subscribers to this page should seek financial advice regarding the
          appropriateness of holding assets.<br/>
          In no event will we be liable for any loss or damage including without limitation, 
          indirect or consequential loss or damage, or any loss or damage whatsoever arising 
          from loss of data or profits arising out of, or in connection with, the use 
          of this website.
        </p>
      </footer>
</div>



<!-- </div> -->