<mat-dialog-content>
    <mat-card fxFlex="30vw" >
        <mat-card-header>
            <mat-icon mat-card-avatar>account_circle</mat-icon>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>

        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
            <mat-card-content>
            <div fxLayout="column">
                <mat-form-field >
                    <input matInput formControlName="username" placeholder="username">
                    <mat-error *ngIf="submitted && fval.username.errors">name required</mat-error>
                </mat-form-field>

                <mat-form-field >
                    <input type ="password" matInput formControlName="password" placeholder="password">
                    <mat-error *ngIf="submitted && fval.password.errors">pasword required</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()" style="margin-right: 1vw;"><span class="fab fa-google"></span></button>
                    <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><span class="fab fa-facebook"></span></button>                
                </div>
            </div>
            </mat-card-content>
            <mat-error *ngIf="loginError">Login is incorrect</mat-error>
        </form>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions  fxLayout="row" fxLayoutAlign="space-between center">
    <div>
        <button mat-stroked-button color="accent" >Submit</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
    <a mat-stroked-button color="accent" class="btn-glow-blue"
        (click)="register()"
     style="font-size: smaller;">Create New User</a>
</mat-dialog-actions>    