
<div fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="CONFIG[marketType]?.t">
    <app-asset-tab chartStyle='orange' [title]='CONFIG[marketType].t[0].title' [ticker]='CONFIG[marketType].t[0].ticker' [subTitle]='CONFIG[marketType].t[0].subTitle' [icon]='CONFIG[marketType].t[0].icon'></app-asset-tab>
    <app-asset-tab chartStyle='gray' [title]='CONFIG[marketType].t[1].title' [ticker]='CONFIG[marketType].t[1].ticker' [subTitle]='CONFIG[marketType].t[1].subTitle' [icon]='CONFIG[marketType].t[1].icon'></app-asset-tab>
    <app-asset-tab chartStyle='blue' [title]='CONFIG[marketType].t[2].title' [ticker]='CONFIG[marketType].t[2].ticker' [subTitle]='CONFIG[marketType].t[2].subTitle' [icon]='CONFIG[marketType].t[2].icon' ></app-asset-tab>
</div>
<div class="asset-container">
    <h1>{{CONFIG[marketType]?.name}} Market Trading Signals</h1>
    <h4>The assets below show signals strength, which usually oscillates in the range [-1;+1] when the market is in regular conditions. When the signal is below -1 or above +1 the market is considered to be overbought and oversold respectfully.</h4>
    <h4>We calculate the asset-cash ratio which represents the risk. When the signal is 0, meaning the market is regular (flat) then the ratio is 100% (100% - asset, 0% - cash). When the signal is for example +1, indicating the market is overbought  then the ratio could be 90% (90% - asset, 10% - cash). When the signal is for example -1, indicating the market is oversold then the ratio could be 110% (100% - asset, 10% - cash to be borrowed). </h4>
    
    <mat-grid-list [cols]="breakpoint" rowHeight="11vh" (window:resize)="onResize($event)" >
        <mat-grid-tile  *ngFor="let it of assetList">
            <app-asset-item [item]= "it" [type]='marketType'></app-asset-item>
        </mat-grid-tile>
    </mat-grid-list>    
</div>

