
<div fxLayout="row wrap" fxLayoutAlign="space-around center" *ngIf="CONFIG[marketType]?.t">
    <app-asset-tab chartStyle='orange' [title]='CONFIG[marketType].t[0].title' [ticker]='CONFIG[marketType].t[0].ticker' [subTitle]='CONFIG[marketType].t[0].subTitle' [icon]='CONFIG[marketType].t[0].icon'></app-asset-tab>
    <app-asset-tab *ngIf="showTopTab2" chartStyle='gray' [title]='CONFIG[marketType].t[1].title' [ticker]='CONFIG[marketType].t[1].ticker' [subTitle]='CONFIG[marketType].t[1].subTitle' [icon]='CONFIG[marketType].t[1].icon'></app-asset-tab>
    <app-asset-tab *ngIf="showTopTab3" chartStyle='blue' [title]='CONFIG[marketType].t[2].title' [ticker]='CONFIG[marketType].t[2].ticker' [subTitle]='CONFIG[marketType].t[2].subTitle' [icon]='CONFIG[marketType].t[2].icon' ></app-asset-tab>
</div>
<div class="asset-container">
    <h1>{{CONFIG[marketType]?.name}} Daily Market Trading Signals</h1>
    <h4>Based on cutting‐edge AI and machine learning algorithms, our system sends signals that allow proactive risk analysis of portfolios across major asset classes in equities, rates, credit, commodities, crypto, and FX. This website is an attempt to apply the probabilistic programming methods in major markets. Probabilistic programming is a new field in AI, that explores data in terms of their probabilities related to the current observations.</h4>
    <h4>For each asset class, the system generates a signal on a z-score scale. This means that under most normal circumstances the signal would oscillate between [-1;+1], however under more extreme conditions, it could go to 4-6x range, and even higher.</h4>
    <h4>A positive value signal is considered overbought/expensive; a negative value signal is oversold/cheap.</h4>
    <h4>We also calculate the asset-cash ratio which represents the risk. When the signal is 0, meaning the market is regular (flat) then the ratio is 100% (100% - asset, 0% - cash). When the signal is for example +1, indicating the market is overbought then the ratio could be 90% (90% - asset, 10% - cash). When the signal is for example -1, indicating the market is oversold then the ratio could be 110% (100% - asset, 10% - cash to be borrowed).</h4>
    <h4>For more information and methods please check out our article: <a href="https://alextmn1.medium.com/etf-analysis-using-probabilistic-probabilistic-programing-b67716dc8f27" target="_blank">ETF Analysis Using Probabilistic Programing</a>
    </h4>
    <small>Please click on the signal value to see signal's details.</small>
    <div  fxLayout="row wrap" fxLayoutAlign="space-around center" >
        <div style="width: 350px; height: 120px;" *ngFor="let it of assetList">
            <app-asset-item [item]= "it" [type]='marketType'></app-asset-item>
        </div>
    </div>
</div>

