.asset-container {
    margin-left: 1vw;
}
h1 {
    font-size: 2rem;
    font-weight: bold;
    color: cornflowerblue;
}
h4 {
    font-size: 1rem;
    color: dimgray;
}

.flex-align {
    display: flex;                /* Enables flexbox */
    flex-wrap: wrap;              /* Allows wrapping of child elements */
    justify-content: space-around; /* Space around elements horizontally */
    align-items: center;          /* Align items vertically in the center */
}